*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(20, 25, 34);
    color: white;
}

.flex{
    display: flex;
}

.flex-end{
    align-self: flex-end;
}

.align-center{
    align-items: center;
}


/***********************************
margin e padding
***********************************/

.margin-top-5{
    margin-top: 5px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-left-5{
    margin-left: 5px;
}

.margin-left-10{
    margin-left: 10px;
}

.padding-15{
    padding: 15px;
}

/***********************************
TEXT
***********************************/

.text-end{
    text-align: end;
}


/***********************************
Colori
***********************************/

.grigio{
    color: grey;
}


/***********************************
Header Effettua l'upgrade
***********************************/
.contenuto-header{
    width: calc(100% - 200px);
    height: 75px;
    background-color: rgba(8, 11, 18, 0.5);
    position: fixed;
    top: 0;
    right: 0;
}

#bottone-header{
    padding: 10px 32px;
    border: solid 1px white;
    background-color: rgba(8, 11, 18, 0.5);
    color: white;
    border-radius: 30px;
    margin: 18px;
}


/***********************************
Nav Logo e menu
***********************************/

.contenitore-nav{
    width: 200px;
    background-color: black;
    height: calc(100vh - 75px);
}

.riga-nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#logo{
    width: 125px;
}

.playlist{
    height: 40vh;
    overflow-y: auto;
}

#plus{
    color:black;
    padding: 5px;
    background-color: grey;
}

#profilo-foto{
    width: 20px;
    padding: 1px;
    background-color: grey;
    border-radius: 50%;
}


/***********************************
Main contenuto principale
***********************************/
.contenitore-main{
    margin-top: 75px;
    width: 100%;
    height: calc(100vh - 150px);
    background-color: brown;
    overflow-y: auto;
}



/***********************************
Footer barra del media
***********************************/

.contenitore-footer{
    height: 75px;
    width: 100%;
    background-color: rgb(40, 40, 40);
    
}

.riga-footer{
    width: 100%;
    height: 75px;
    display: flex;
}

.col-footer-piccola{
    width: 220px;
    height: 75px;
}

.col-footer-grande{
    width: calc(100% - 440px);
    height: 75px;
    border: solid black;
}

.contenuto-footer{
    margin: 15px;
    height: 40px;
}

#foto-footer{
    height: 100%;
}

.contenuto-footer div{
    display: inline-block;
}


/***********************************
 PC 1200
***********************************/
@media screen and (max-width:1200px) {
    .contenitore-nav{
        
    }
}


/***********************************
 PC 992
***********************************/
@media screen and (max-width:992px) {
    .contenitore-nav{
        
    }
}


/***********************************
 TABLET 768
***********************************/
@media screen and (max-width:768px) {
    .contenitore-nav{
        
    }
}


/***********************************
 TELEFONO 576
***********************************/
@media screen and (max-width:576px) {
    .contenitore-nav{
        width: 50px;
    }
    .contenuto-header{
        width: calc(100% - 50px);
    }
}



